/* ---------------------------------------------------- */
/* UTILITY */
/* ---------------------------------------------------- */

@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* ---------------------------------------------------- */
/* MEDIA QUERIES MANAGER */
/* ---------------------------------------------------- */
/* 0px    - 600px  : Phone screen [phone] */
/* 600px  - 900px  : Tablet portrait screen [tab-port] */
/* 900px  - 1200px : Tablet landscape screen [tab-land] */
/* 1200px - 1800px : Normal screen */
/* 1800px - ~      : Big desktop screen [big-desktop] */
/*
/* NOTE: 1em = 16px */
/* ORDER: Base + typography > general layout + grid > page layout > components */
/* ---------------------------------------------------- */

@mixin respond($breakpoint) {
	// 600px : 16px = 37.5em
	@if $breakpoint == phone {
		@media (max-width: 37.5em) {
			@content;
		}
	}

	// 900px : 16px = 56.25em
	@if $breakpoint == tab-port {
		@media (max-width: 56.25em) {
			@content;
		}
	}

	// 1200px : 16px = 75em
	@if $breakpoint == tab-land {
		@media (max-width: 75em) {
			@content;
		}
	}

	// 1800px : 16px = 112.5em
	@if $breakpoint == big-desktop {
		@media (min-width: 112.5em) {
			@content;
		}
	}
}
